/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime-blue: #00a8e1;
}

body {
  margin: 0;
  font-family: 'Amazon Ember', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f171e;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.text-prime-blue {
  color: var(--prime-blue);
}

.bg-prime-blue {
  background-color: var(--prime-blue);
}

.hover\:bg-prime-blue:hover {
  background-color: #0090c5;
}